Flask
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
Flask-WTF
python-dotenv
pandas
openpyxl
xlsxwriter
xlrd
matplotlib
plotly
reportlab
SQLAlchemy
flake8
pytest
beautifulsoup4
requests
WTForms
email_validator
bootstrap-flask
gunicorn
